.features-container {
  width: 100%;
  height: auto; /* Let content dictate height */
  margin: 0 auto;
  padding: 1rem 1.25rem;
}

.tagline {
  color: #ffffff66;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.features-grid-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.features-grid {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  background-color: #131313;
  border-radius: 2rem;
  padding: 2rem;
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #131313;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.feature-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.text-center h1 {
  color: #fff;
  font-family: "Russo One";
}

.feature-card img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 9999px;
}

/* Tablet styles (≤1024px) */
@media (max-width: 1024px) {
  .features-grid {
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
  }

  .features-grid > div:first-child {
    grid-template-columns: 1fr 1fr;
  }

  .feature-card {
    flex-direction: row;
    justify-content: start;
    text-align: left;
  }

  .features-container {
    height: auto;
    padding: 2rem 1rem;
  }

  .features-grid-container {
    height: auto;
  }

  .tagline {
    font-size: 1.125rem;
  }

  .features-grid .w-full {
    width: 100%;
  }
}

/* Mobile styles (≤640px) */
@media (max-width: 640px) {
  .features-grid > div:first-child {
    grid-template-columns: 1fr;
  }

  .feature-card {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .feature-card img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .feature-card h3 {
    font-size: 1rem;
  }

  .tagline {
    font-size: 1rem;
  }
}
